/* добавлен блок main для контента
надо зафиксировать footer при position relative без наплыва элементов и отступов footer снизу и слева */
html{
    scroll-behavior: smooth;
    caret-color: transparent;
}
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    color: rgb(81, 81, 81);
    text-decoration: underline;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 120px;
    box-shadow: 0px -10px 10px 10px #000;
    font-size: 14px;
}

.invis-menu{
    height: 140px;
}
.invis-footer{
    height: 50px;
}

img.logo {
    display: block;
    width: 50%;
    min-width: 450px;
    height:auto;
}

menu {
    padding: 0%;
    font-size: large;
    font-weight: bold;
    /* align-content: end; */
    position: fixed;
    top:80px;
}

article {
    display: inline-block;
    background-image: url("hotdog.png"),
                    linear-gradient(#eee5fc,#d3c0f4);
    background-repeat: repeat-x;
    align-content:end;
    text-align: center;
    border: 2px black solid;
    height: 100px;
    /* position: relative; */
}

body{
    min-height: 100vh;
    position: relative;
    margin: 0 0 0 0;
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    box-shadow: 0px 10px 10px 10px #000;
    width: 100%;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer {
    padding-left: 5px;
}

img.adaptive{
    max-width: 100%;
    height: auto;
}

.reviews-row, .media-row {
    text-align: center;
}

.name, .title {
    font-size: medium;
    font-style:italic;
    font-weight: bold;
}

.review, .media{
    display: inline-block;
    width: 80%;
    padding: 5px;
    margin: 5px;
    /* border:2px solid #000; */
    /* background-color:#fffdeb; */
    font-size: medium;
}

@media screen and (min-width: 600px) {
    .reviews-row, .media-row {
        display: flex;
        justify-content: center;
        width:100%;
    }
    .review, .media {
        width: 40%;
        height: auto;
    }
}

.media-content {
    width: 100%;
    height: auto;
}

.review-text {
    font-style: italic;
}

.quote {
    font-size:xx-large;
}

section.author * {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

section.author  {
    width: 100%;
    margin-bottom: 40px;
}

img.author {
    display: block;
    height: 200px;
}

p.author {
    width: 70%;
    max-width: 600px;
    padding: 5px;
    /* margin: auto; */
    /* border:2px solid #000;
    background-color:#fffdeb; */
}

.inside-link {
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}

h2 {
    text-align: center;
}

ul.purchase {
    display: inline-block;
    text-align: left;
    list-style: none;
}
.list-container{
    text-align: center;
    margin-bottom: 60px;
}
li::before{
    content: "💸 ";
}